.button--arrow-button {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.button--onboarding-text {
    width: 33px;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #4B5563;
}

.button--rounded {
    width: 256px;
    height: 49px;
    border-radius: 12px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    padding: 0px;
}

.button--dark-green {
    background: #32B768;
    color: #FFFFFF;   
}

.button--light-green {
    background: #D1FAE5;
    color: #10B981;
}

.button--no-background {
    background: #FFFFFF;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #89909E;
}

.button--form-active {
    color: #32B768;
}

.disabled {
    color: #9CA3AF;
}

button > img {
    margin-right: 24px;
    vertical-align: middle;
}

button {
    vertical-align: middle;
}