.card-container-header {
    width: inherit;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.card-container-header__link {
    display: flex;
    margin-left: 73px;
}

.card-container-header__header {
    margin-top: 0px;
    margin-bottom: 4px;
}

.card-container-header__chevron {
    margin-left: 6px;
    margin-top: 1px;
}

.l-nearby-restaurants__card--container {
    align-self: flex-start;
    margin-left: 18px;
    display: flex;
}

.card-container-header__DishCard {
    margin-right: 12px;
}