.c-find-food {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-find-food__FindFoodHeader {
    margin-top: 32px;
}

.c-find-food__NewDishes {
    margin-top: 36px;
}

.c-find-food__Search {
    margin-top: 16px;
}

.c-find-food__Promos {
    margin-top: 28px;
}
