.c-find-food-header {
    display: flex;
    flex-direction: row;
    width: 340px;
    justify-content: space-between;
    align-items: center;
}

.c-find-food__Search {
    margin-top: 16px;
}

.c-find-food__Promos {
    margin-top: 28px;
}

.hamburger {
    width: 16px;
    height: 16px;
}

.headshot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

