#pwd--container {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

#pwd-container p:first-child {
    font-weight: 500;
    font-size: 1rem;
    color: #9CA3AF;
}

.c-forgot-pwd {
    margin-left: 24px;
}

.c-forgot-pwd__button {
    margin-top: 344px;
    margin-left: 36px;
    margin-bottom: 70px;
}

.c-forgot-pwd__page-header {
    margin-top: 117px;
    margin-bottom: 4px;
}

.c-forgot-pwd__title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #374151;
    line-height: 36px;
}

.c-forgot-pwd__text {
    color: #9CA3AF;
}

.c-forgot-pwd__text--secondary {
    font-size: .875rem;
    margin-left: 12px;
}

.l-forgot-pwd__container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 16px;
}

#pwd--email-input-container input {
    width: 327px;
    height: 48px;
    border: 1px solid #BEC5D1;
    border-radius: 12px;
}

.text--remember-pwd {
    font-weight: 600;
    font-size: .875rem;
    color: #9CA3AF;
}