.c-promo-card {
    width: 280px;
    height: 120px;
    border-radius: 25px;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.c-promo-card__h3 {
    margin-top: 12px;
    margin-bottom: 3px;
}

/* Not sure if I've written these 2 in correct BEM format, but will revisit later.  */
.c-promo-card__img--icon {
    margin-top: 13px;
    margin-left: 10px;
}

.c-promo-card__img--background {
    position: absolute;
    top: 0px;
    left: 114px;
}

.l-promo-card__text-container {
    margin-left: 20px;
}

.c-promo-card__text {
    margin-bottom: 5px;
}

.c-promo-card__link {
    display: flex;
}

.c-promo-card__chevron {
    margin-left: 3px;
    margin-top: 1px;
}

.promo-company-icon {
    width: 44px;
    height: 26px;
}

.header--promo {
    font-size: 1rem;
}

.p--promo-body {
    font-size: .438rem;
    font-weight: 500;
    width: 98px;
}
